
body {
    background-color: #FAFAFA;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.img-celular {
    width: 450px;
}

.container {
    border: 1px solid #D3D3D3;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 40px;
}

input {
    height: 36px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    margin-top: 10px;
}

button {
    background-color: #0095f6;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.facebook {
    color: #385185;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.esqueceu-senha {
    color: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    margin-top: 20px;
}

.imagens {
    position: relative;
}

.img-insta {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 26px;
    transition: 2s ease-in-out;
}

@media screen and (max-width: 900px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .imagens {
        width: 100px;
        height: 400px;
        right: 130px;
        margin-bottom: 80px;
    }
    .img-celular {
        width: 350px;
    }
    .img-insta {
        height: 400px;
        left: 120px;
        bottom: 150px;
    }

    .container {
        width: 300px;
        padding: 20px;
        bottom: 1000px;
        margin-top: 25px;
    }
}